/* p {
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-weight: 300;
    padding: 20px;
} */

footer {
    background-color: var(--background-header);
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

footer p {

    display: flex;
    justify-content: center;
    color: aliceblue;
    font-weight: 300;
    padding: 20px;
    
}