header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: var(--background-header);
    
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

h1 {
    font-weight: 700;
    font-style: italic;
    font-size: 3.5rem;
}

span.material-symbols-outlined {
    margin: 0px 20px;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: aliceblue;
}